hr.footer-divider

.terms.text-right
 .terms-body
  ul.nav
    li.nav-item
      a.nav-link.active 이용약관
    li.nav-item
        a.nav-link.active 개인정보처리방침
    li.nav-item
        p.nav-link.active 버전 정보 : v1.0

.footer.row.text-center
  .col-md-3
  .col-md-3.col-sm-6
    p 2019 Hanium : 정지우, 최리안, 최은지
    p Copyright © 2019 HANIUM. All Rights Reserved.

  .col-md-3.col-sm-6
    p Contact : 02-2132-0712~7
    