extends layout

block content

  nav
  #nav-tab.nav.nav-tabs(role='tablist')
    a#nav-home-tab.nav-item.nav-link.active(data-toggle='tab' href='#nav-home' role='tab' aria-controls='nav-home' aria-selected='true') 투자
    a#nav-profile-tab.nav-item.nav-link(data-toggle='tab' href='#nav-profile' role='tab' aria-controls='nav-profile' aria-selected='false') Profile
    //- a#nav-contact-tab.nav-item.nav-link(data-toggle='tab' href='#nav-contact' role='tab' aria-controls='nav-contact' aria-selected='false') Contact
  #nav-tabContent.tab-content
  #nav-home.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='nav-home-tab') 투자 내역 ㅇㅇㅇ에 투자 하셨습니다
  #nav-profile.tab-pane.fade(role='tabpanel' aria-labelledby='nav-profile-tab') bbbbbb
  //- #nav-contact.tab-pane.fade(role='tabpanel' aria-labelledby='nav-contact-tab') 

