
body{
  /* padding: 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* 자산 등록 css */
.newRegiTable th{
  vertical-align: top;
  text-align: center;
  background-color: lightgray;
  table-layout: fixed;
  width: 20%;
}

select.address{
  width : 30%;
  margin-left: 0.1em;
}

label.area {
  width: 15%;
  text-align: right;
  padding-right: 0.5em;
  font-weight: bold;
}

input.area { width : 30%; }

label.area2 { 
  padding-left: 0.5em;
  font-weight: bold;
}

table.table.table-bordered {
  width: 65%;
  margin: auto;
}

/* 투자 css */
table.table.table-bordered.detail {
  width: 100%;
  margin: auto;
}

th.detail {
  vertical-align: top;
  text-align: center;
  background-color: lightgray;
  width : 40%;
}

td.button{
  text-align: right;
}

/* 평가 css */
table.table.table-bordered.evaluate {
  width: 100%;
  margin: auto;
}

th.evaluate {
  background-color: lightgray;
  width : 40%;
}


/* 자산 상세정보 css */
table.table.table-bordered.asset-info {
  width: 100%;
  margin: auto;
}

th.asset-info{
  background-color: lightgray;
  width: 30%;
}

/* 투자 상세 정보 css */
table.table.table-bordered.invest-info {
  width: 70%;
  margin: auto;
}

th.invest-info{
  background-color: lightgray;
  width: 50%;
}

/* 007 */
tr:hover {
  background-color: rgb(205, 205, 205);
}
/* 로그인 css */
.loginBody {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background: white;
}
.logo {
  text-align: center; }

.logoImg {
  display: inline-block;
  width: 30%;
  height: 30%; }

.login.form-group {
  /* display: flex; */
  margin: 0 auto;
  align-items: center;
  width: 25%;
  margin-bottom: 20px; }

.loginBtn, .signinBtn {

  width: 100%; }

.login.form-group.password {
  margin-bottom: 5px; }

#check {
  margin: 5px; }

.autoLogin {
  font-size: 90%;
  width: 5rem; }


  /* 회원가입 css */

.signin.logo{
 
  text-align: center;
 }
.signin.form-group {
  display: flex;
  margin: 0 auto;
  align-items: center;
  width: 70%;
  margin-bottom: 20px; }

button.submit, a.back {
  width: 15%; }

.form-group-submit {
  margin-bottom: 20px;
  text-align: right;
  margin-right: 15%; }

input.form-control.id, input.form-control.phone {
  width: 70%;
  margin-right: 10px;
 }
input.form-control.sc{
  margin-left: 20px;
}
input.form-control.password2{
  margin-left: 50px;
}
input.form-control.evalu1{
  margin-left: 20px;
}
a.id, a.phone {
  width: 30%;
  margin: 0 auto; }

/* navbar css */
.navBar {
  height: 5em;
  width: 100%;

}

nav.navbar.navbar-expand-lg.navbar-dark.bg-dark {
  width: 100%;
  margin-bottom: 50px;

}
.navbar-expand-lg {
  z-index: 100;
}

/*home 화면 */

.group-nav{
  width: 80%;
  margin: auto;

}
#nav-tabContent.tab-content{
  margin-top: 20px;
}


/* footer css */
hr.footer-divider {

  margin-bottom: 1rem;
  border: solid 0.5px lightgray;
  width: 96%;

}

.footer {
  margin-bottom: 1rem;
  color: black;
}

p.nav-link {
  color: black;
}

.terms {
  margin-bottom: 1rem;
  text-align: right;
  width: 98%;
}

.terms-body {
  display: inline-block;
  height:20px;
}
