body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* 자산 등록 css */
.newRegiTable th{
  vertical-align: top;
  text-align: center;
  background-color: lightgray;
  table-layout: fixed;
  width: 20%;
}

select.address{
  width : 30%;
  margin-left: 0.1em;
}

label.area {
  width: 15%;
  text-align: right;
  padding-right: 0.5em;
  font-weight: bold;
}

input.area { width : 30%; }

label.area2 { 
  padding-left: 0.5em;
  font-weight: bold;
}

table.table.table-bordered {
  width: 65%;
  margin: auto;
}

/* 투자 css */
table.table.table-bordered.detail {
  width: 100%;
  margin: auto;
}

th.detail {
  vertical-align: top;
  text-align: center;
  background-color: lightgray;
  width : 40%;
}

td.button{
  text-align: right;
}

/* 평가 css */
table.table.table-bordered.evaluate {
  width: 100%;
  margin: auto;
}

th.evaluate {
  background-color: lightgray;
  width : 40%;
}


/* 자산 상세정보 css */
table.table.table-bordered.asset-info {
  width: 100%;
  margin: auto;
}

th.asset-info{
  background-color: lightgray;
  width: 30%;
}

/* 투자 상세 정보 css */
table.table.table-bordered.invest-info {
  width: 70%;
  margin: auto;
}

th.invest-info{
  background-color: lightgray;
  width: 50%;
}