//- 자산 등록 화면

extends ../layout

block content
    h1 register asset
    hr
    br

    form(action='#' method='POST')
        table.table.table-bordered
            .tbody
                tr
                    .form-group
                        th(scope='row') 자산명
                        td(scope='row')
                            input.form-control.col-10(type='text' id='name' name='name' placeholder='자산명') 

                    .form-group
                        th(scope='row') 자산번호
                        td(scope='row')
                            input.form-control.col-10(type='text' id='number' name='number' placeholder='자산 번호')

                tr
                    .form-group
                        th(scope='row') 자산 소재지
                        td(colspan='3')
                            .row 
                                select.form-control.address.col-3(id='select-address')
                                    option 서울특별시
                                    option 부산광역시
                                    option 전라북도
                                    option 전라남도
                                select.form-control.address.col-3(id='select-address2')
                                    option 서대문구
                                    option 강남구
                                    option 마포구
                                    option 종로구
                                input.form-control.col-4(type='text' id='address' name='address' placeholder='상세주소를 입력해주세요')
                
                tr
                    .form-group
                        th(scope='row') 면적
                        td(colspan='3')
                            .row
                                label.area(for='area') 계약 면적
                                input.form-control.area(type='text' id='area' name='area' placeholder='000')
                                label.area2(for='area2') m²

                tr
                    .form-group
                        th(scope='row') 준공년월
                        td(colspan='3')
                            .row
                                select.form-control.col-4(id='complete-date-year')
                                    option 2010
                                    option 2011
                                    option 2012
                                    option 2013
                                    option 2014
                                    option 2015
                                select.form-control.col-3(id='complete-date-month')
                                    option 1
                                    option 2
                                    option 3
                                    option 4
                                    option 5
                                    option 6
                                select.form-control.col-3(id='complete-date-day')
                                    option 1
                                    option 2
                                    option 3
                                    option 4
                                    option 5
                                    option 6
                                    option 7
                                    option 8

                tr
                    .form-group
                        th(scope='row') 자산 설명
                        td(colspan='3')
                            textarea.form-control(id='description' rows='7' placeholder='자산에 대한 설명을 입력해 주세요')
                
                tr
                    .form-group
                        th(scope='row') 청산 일시
                        td(colspan='3')
                            .row
                                select.form-control.col-4(id='end-date-year')
                                    option 2020
                                    option 2021
                                    option 2022
                                    option 2023
                                    option 2024
                                    option 2025
                                select.form-control.col-3(id='end-date-month')
                                    option 1
                                    option 2
                                    option 3
                                    option 4
                                    option 5
                                    option 6
                                select.form-control.col-3(id='end-date-day')
                                    option 1
                                    option 2
                                    option 3
                                    option 4
                                    option 5
                                    option 6
                                    option 7
                                    option 8
                
                tr
                    .form-group
                        th(scope='row') 사진 등록
                        td(scope='row')
                            input.form-control-file(type='file' id='photo')
                    .form-group
                        td(colspan='2')
                            button.btn.btn-dark(type='submit') 자산 등록
                

