//- 자산 등록 화면

extends ../layout

block content

    form(action='../registers/request_register' method='POST')
        table.table.table-bordered.newRegiTable
            tbody
                tr
                    .form-group
                        th(scope='row') 자산명
                        td(colspan='3')
                            input.form-control.col-10(type='text' id='name' name='name' placeholder='자산명') 


                tr
                    .form-group
                        th(scope='row') 자산번호
                        td.regi(scope='row')
                            input.form-control.col-10(type='text' id='number' name='number' placeholder='자산 번호')
                    .form-group
                        th(scope='row') 카테고리
                        td.regi(scope='row')
                            select.form-control.col-10(id='category' name='category')
                                option 아파트
                                option 주택
                                option 부동산어쩌구

                tr
                    .form-group
                        th(scope='row') 자산 소재지
                        td(colspan='3')
                            .row 
                                select.form-control.address1.col-3(id='address1' name='address1')
                                    option 시/도
                                    option 서울특별시
                                    option 부산광역시
                                    option 대구광역시
                                    option 인천광역시
                                    option 광주광역시
                                    option 대전광역시
                                    option 울산광역시
                                    option 세종특별자치시
                                    option 경기도
                                    option 강원도
                                    option 충청북도
                                    option 충청남도
                                    option 전라북도
                                    option 전라남도
                                    option 경상북도
                                    option 경상남도
                                    option 제주특별자치도
                                select.form-control.address2.col-3(id='address2' name='address2')
                                    option 시/군/구
                                input.form-control.col-4(type='text' id='address' name='address3' placeholder='상세주소를 입력해주세요')
                
                tr
                    .form-group
                        th(scope='row') 면적
                        td(colspan='3')
                            .row
                                label.area(for='area') 계약 면적
                                input.form-control.area(type='text' id='area' name='area' placeholder='000')
                                label.area2(for='area2') m²

                tr
                    .form-group
                        th(scope='row') 준공년월
                        td(colspan='3')
                            .row
                                select.form-control.col-4(id='completeYear' name='completeYear')
                                    //- each val in [1,2,3,4,5,6,7,8,9,10,11,12]
                                    //-     option= val
                                    option YYYY
                                    -for(var i=1990; i<2020; i++)
                                        option= i
                                select.form-control.col-3(id='completeMonth' name='completeMonth')
                                    option MM
                                    -for(var i=1; i<13; i++)
                                        option= i
                                select.form-control.col-3(id='completeDay' name='completeDay')
                                    option DD

                tr
                    .form-group
                        th(scope='row') 자산 설명
                        td(colspan='3')
                            textarea.form-control(id='description' name='description' rows='7' placeholder='자산에 대한 설명을 입력해 주세요')
                
                tr
                    .form-group
                        th(scope='row') 청산 일시
                        td(colspan='3')
                            .row
                                select.form-control.col-4(id='endYear' name='endYear')
                                    option YYYY
                                    -for(var i=2019; i<2031; i++)
                                        option= i
                                select.form-control.col-3(id='endMonth' name='endMonth')
                                    option MM
                                    -for(var i=1; i<13; i++)
                                        option= i
                                select.form-control.col-3(id='endDay' name='endDay')
                                    option DD
                
                tr
                    .form-group
                        th(scope='row') 사진 등록
                        td(scope='row')
                            input.form-control-file(type='file' id='photo')
                    .form-group
                        td(colspan='2')
                            button.btn.btn-dark(type='submit') 자산 등록
                            br
                            br
                            