form(action=`../request_eval/${asset.id}` method='POST')
    table.table.table-bordered.evaluate
        tbody
            tr
                th.evaluate(scope='row') 평가일시 
                td(scope='row') 2019-09-03
            tr
                th.evaluate(scope='row') 평가자
                td(scope='row')= user.name
            tr
                .form-group
                    th.evaluate 가치 
                    td(scope='row')
                        input.evalInput.form-control(type='text' id='value' name='value' placeholder='현금가')
            tr
                th.evaluate 코인가
                td(scope='row') 
                    label.coinLabel 0000
            tr
                td.button(colspan='2')
                    button.btn.evalBtn.btn-dark 평가하기
