extends ../layout

block content 
    h1 evaluate asset 
    hr

    form(action='#' method='POST')
        table.table.table-bordered.evaluate
            tbody
                tr
                    th.evaluate(scope='row') 평가일시 
                    td(scope='row') 2019-09-03
                tr
                    th.evaluate(scope='row') 평가자
                    td(scope='row')= user.name
                tr
                    .form-group
                        th.evaluate(rowspan='2') 가치 
                        td(scope='row')
                            input.form-control(type='text' id='value' name='value' placeholder='현금가')
                tr
                    td(scope='row') 코인 
                tr
                    td.button(colspan='2')
                        button.btn.btn-dark 평가하기
